@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
/* main css/> */
:root {
--glass-backdrop: blur(6px);
  --glass-background: rgba(63, 81, 117, 0.2);
  --glass-border: 1px solid rgba(255, 255, 255, 0.2);
  --glass-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 5px;
}

.blur {
  backdrop-filter: var(--glass-backdrop);
  background: var(--glass-background);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
}
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #4493F8;
  width: 0%;
  z-index: 9999;
  /* border-radius: 0 100px 100px 0; */
  transform-origin: left;
}
#progress-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--glass-background);
  z-index: 9998;
}
.btn {
  backdrop-filter: var(--glass-backdrop);
  background: var(--glass-background);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
  color: var(--color5);
  padding: 7px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-hover:hover {
  color: var(--color3);
}
.toast {
  position: fixed;
  top: 10px; /* yuqorida chiqadi */
  right: -200px; /* ekrandan tashqarida boshlanadi */
  backdrop-filter: var(--glass-backdrop);
  background: var(--glass-background);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
  padding: 10px 15px;
  border-left: 3.2px solid;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 9999;
}
.toast p {
  margin: 0 0 3px 0;
}
.toast.show {
  right: 20px; 
  opacity: 1;
}
.ripple {
  position: relative;
  overflow: hidden;
  /* cursor: pointer; */
}
.ripple span {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 650ms linear;
  background-color: var(--hover-background);
  pointer-events: none;
}
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}